@model IEnumerable<DAL.Entities.References>
@{
    ViewBag.Title = ReferencesRess.ReferencesStrings.title;     
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
@section breadcrumb{
    <div class="col-md-8 breadcrumb">
        <ul>
            <li><a href="@ReferencesRess.ReferencesStrings.breadcrumbmainurl">@ReferencesRess.ReferencesStrings.breadcrumbmaintext</a></li>
            <li>@ReferencesRess.ReferencesStrings.breadcrumbtext</li>
        </ul>
    </div>
}

<div id="container" class="container">
    <div class="col-md-12 shadow section noPadding noMarginTop">
        <div class="col-md-12 sectionContent page newsPage referencePage">
            <h2 class="pageTitle"><i class="fa fa-angle-double-right"></i>@ReferencesRess.ReferencesStrings.header</h2>

            @foreach (var item in Model)
            {
                <div class="col-md-4 noPadding">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="@item.Link" target="_blank"><i class="fa fa-caret-right"></i>@item.ReferenceName</a> </li>
                        </ul>
                    </div>
                </div>
            }

            <div class="col-md-12">
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-4 noPadding">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
