@model web.Models.VMProductGroupModel

<ul>
    <li class="parent"><a href="#">@SharedRess.SharedStrings.altyapiurunleri</a></li>
    @foreach (var item in Model.ProductGroup.Where(d => d.TopProductId == 3 || d.TopProductId == 35 || d.TopProductId == 76).Take(5))
    {
        <li><a href="@SharedRess.SharedStrings.productcat/@item.ProductGroupId/@item.PageSlug#@item.PageSlug">@item.GroupName</a></li>   
    }
</ul>

<ul>
    <li class="parent"><a href="#">@SharedRess.SharedStrings.ustyapiurunleri</a></li>
    @foreach (var item in Model.ProductGroup.Where(d => d.TopProductId == 12 || d.TopProductId == 36 || d.TopProductId == 77).Take(5))
    {
        <li><a href="@SharedRess.SharedStrings.productcat/@item.ProductGroupId/@item.PageSlug#@item.PageSlug">@item.GroupName</a></li>   
    }
</ul>
