@model web.Models.VMProductGroupModel
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.zweatherfeed.tr2.js"></script>
<script>
    $(document).ready(function () {
        $('#weather').weatherfeed(['TUXX0014']);
    });
</script> 
@*<script type="text/javascript">
    $(document).ready(function () {
        var dolar = '@ViewData["dolar"]';
        
        var string = numeral(dolar).format('0,0'); alert(string);
    });
</script>*@

<div class="col-md-12 col-md-pull-0 menu noPadding">


    <div class="exchange">

					<div class="exchange-slide">

						<a href="http://www.tcmb.gov.tr/kurlar/today.xml" target="_blank" class="dolar"><span class="icon"></span>@SharedRess.SharedStrings.dolar@ViewData["dolar"]</a>
						<a href="http://www.tcmb.gov.tr/kurlar/today.xml" target="_blank" class="euro"><span class="icon"></span>@SharedRess.SharedStrings.euro@ViewData["euro"]</a>
						

					</div>  <!-- exchange-slide -->

					<a href="http://www.dmi.gov.tr/tahmin/il-ve-ilceler.aspx?m=ISTANBUL" target="_blank" class="cloud"><span class="icon"></span>@SharedRess.SharedStrings.istanbul <span id="weather"></span> <sup>o</sup>C </a>
					
				</div> <!-- exchange -->

    <ul class="nav nav-pills">
        <li><a href="@SharedRess.SharedStrings.m_kurumsal_link">@SharedRess.SharedStrings.m_kurumsal</a></li>
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="@SharedRess.SharedStrings.m_urunler_link">@SharedRess.SharedStrings.m_urunler</a>
            <ul class="dropdown-menu  multi-level" role="menu" aria-labelledby="dropdownMenu">
                @{Html.RenderPartial("_submenu", Model);}
            </ul>
        </li>
        <li><a href="@SharedRess.SharedStrings.m_haberler_link">@SharedRess.SharedStrings.m_haberler</a></li>
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="@SharedRess.SharedStrings.m_fiyatlistesi_link">@SharedRess.SharedStrings.m_fiyatlistesi</a>
        <ul class="dropdown-menu">
            @foreach (var item in Model.ProductGroup.Where(d=>d.TopProductId == 1))
            {
                <li><a href="@SharedRess.SharedStrings.productpricesmenulink/@item.ProductGroupId/@item.PageSlug">@item.GroupName</a></li>   
            }
        </ul>
        </li>
        <li><a href="@SharedRess.SharedStrings.m_makine_link">@SharedRess.SharedStrings.m_makine</a></li>
        <li><a href="@SharedRess.SharedStrings.m_galeri_link">@SharedRess.SharedStrings.m_galeri</a></li>

        <li><a href="@SharedRess.SharedStrings.m_referans_link">@SharedRess.SharedStrings.m_referans</a></li>
        <li class="last"><a href="@SharedRess.SharedStrings.m_iletisim_link">@SharedRess.SharedStrings.m_iletisim</a></li>

    </ul>
</div>
