@model List<web.Models.ProductFrontModel>
@{
    ViewBag.Title = (ViewData["prodak"] as DAL.Entities.Product).Name;
    Layout = "~/Views/Shared/frontlayout.cshtml";
    List<DAL.Entities.References> referanslar = ViewData["referanslar"] as List<DAL.Entities.References>;

    List<DAL.Entities.ProductGroup> pg = ViewData["productgroups"] as List<DAL.Entities.ProductGroup>;
    string colorcode = ViewBag.cId == 0 ? "#fafafa" : "";
    int id = ViewBag.id;
}
<link href="~/Content/Styles/jquery.fancybox.css" rel="stylesheet" />
@section breadcrumb{
    <div class="col-md-8 breadcrumb">
        <ul>
            <li><a href="@InstitutionalRess.InstitutionalStrings.breadcrumbmainurl">@InstitutionalRess.InstitutionalStrings.breadcrumbmaintext</a></li>
            @*<li><a href="/urunler/@ViewBag.ProductGroup.ProductGroupId/@ViewBag.ProductGroup.PageSlug">@ViewBag.ProductGroup.GroupName</a> </li>*@
              @*<li><a href="#">@ViewBag.ProductGroup</a></li>*@
            <li>@ProductRess.ProductStrings.breadcrumb </li>
        </ul>
    </div>
}

<div id="container" class="container">
    <div class="col-md-12 shadow section noPadding noMarginTop">
    <div class="col-md-12 sectionContent page newsPage">

         <ul class="nav nav-tabs" role="tablist">
             @foreach (var item in pg)
             {
                 <li><a href="@SharedRess.SharedStrings.productcat/@item.ProductGroupId/@item.PageSlug" >@item.GroupName</a></li>
             }
        </ul>
        @{ int catid = -1; }
    @foreach (var proditem in Model)
    {
        if (catid != proditem.product.ProductGroup.ProductGroupId)
        {
            <h1><a name="@proditem.product.ProductGroup.PageSlug">@proditem.product.ProductGroup.GroupName</a></h1>
        }

        {
            catid = proditem.product.ProductGroup.ProductGroupId;
        }
        
        <div class="item">
            
                
                @if(proditem.product.ProductId== id)
                {
                    <h2 class="pageTitle"><i class="fa fa-angle-double-right"></i>
                <a style="color: #e31e24; text-decoration:none; background-color:yellow;" name="@proditem.product.ProductId">@proditem.product.Name</a></h2>
                }
            else
            {
                    <h2 class="pageTitle"><i class="fa fa-angle-double-right"></i>
                <a style="color: #e31e24; text-decoration:none" name="@proditem.product.ProductId">@proditem.product.Name</a></h2>                    
            }

       
        

 <div style="background-color:@colorcode">
      <div class="pageContent">@Html.Raw(proditem.product.Content)</div>


       


     @if(proditem.product.ProductGroup.TopProductId != 3 && proditem.product.ProductGroup.TopProductId != 35 && proditem.product.ProductGroup.TopProductId != 76)
     { 
          <div class="col-md-12">
            <h3><i class="fa fa-arrow-circle-right"></i>@ProductRess.ProductStrings.urunrenkleri</h3>
        </div>
      <div class="col-md-12 noPadding colors">
            @foreach (var item in proditem.Colors)
            {                
                <div class="col-md-1"><div style="background-color: @item.RenkKodu;padding: 13px;display: block;margin-top: 10px;"></div>@item.Adi</div>
            }
        </div>

     }
        <div class="col-md-12 noPadding productsPhoto">
        
            @if (!string.IsNullOrEmpty(proditem.product.Image1) && proditem.product.Image1 != "/Content/images/front/noimage.jpeg")
            {
                <div class="col-md-3">

                    <a href="@proditem.product.Image1.Replace("/userfiles/productthumb/", "/userfiles/productbig/")" class="fancybox" rel="gallery2"><img src="@proditem.product.Image1"/></a>

                </div>
            }
             @if (!string.IsNullOrEmpty(proditem.product.Image2) && proditem.product.Image2 != "/Content/images/front/noimage.jpeg")
             {
                <div class="col-md-3">

                    <a href="@proditem.product.Image2.Replace("/userfiles/productthumb/", "/userfiles/productbig/")" class="fancybox" rel="gallery"><img src="@proditem.product.Image2"/></a>
                </div>
             }
        
            <div class="col-md-5"><a href="#" class="fiyatBilgi">@ProductRess.ProductStrings.fiyatbilgisi</a></div>  
        </div>

        <div class="col-md-12 noPadding products ptable" style="margin-top:20px; display:none;">

          <table width="100%" cellspacing="0" cellpadding="0" class="fiyatTablo">
       
          <tr>
            <td colspan="12" class="urunAd">@proditem.product.Name</td>
          </tr>
              @if (proditem.headers != null)
              {
          <tr class="fiyatTabloTitle">
            @if (!string.IsNullOrEmpty(proditem.headers.Header1))
            {
                   
                    <td>@proditem.headers.Header1</td>
                       
                   
            }
                @if (!string.IsNullOrEmpty(proditem.headers.Header2))
                {
                    
                    <td>@proditem.headers.Header2</td>
                      
                   
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header3))
                {
                   
                    <td>@proditem.headers.Header3</td>
                       
                   
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header4))
                {
                    
                    <td>@proditem.headers.Header4</td>
                      
                    
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header5))
                {
                   
                    <td>@proditem.headers.Header5</td>
                     
                   
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header6))
                {
                  
                    <td>@proditem.headers.Header6</td>
                       
                    
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header7))
                {
               
                    <td>@proditem.headers.Header7</td>
                      
              
                }

                @if (!string.IsNullOrEmpty(proditem.headers.Header8))
                {
                    <td>@proditem.headers.Header8</td>
                }

               @if (!string.IsNullOrEmpty(proditem.headers.Header9))
                {
                    <td>@proditem.headers.Header9</td>
                }
              @if (!string.IsNullOrEmpty(@proditem.headers.Header10))
                {
                    <td>@proditem.headers.Header10</td>
                }
              @if (!string.IsNullOrEmpty(proditem.headers.Header11))
                {
                    <td>@proditem.headers.Header11</td>
                }
              @if (!string.IsNullOrEmpty(proditem.headers.Header12))
                {
                    <td>@proditem.headers.Header12</td>
                }
              <td>Teknik Özellikler</td>
            </tr>
        }
       
            @if (proditem.ProductInfo != null)
            {
                foreach (var item in proditem.ProductInfo)
                {
               <tr id="listItem_@item.ProductInformationId"  class="handle">

                    @if (!string.IsNullOrEmpty(proditem.headers.Header1))
                    {
                        //if (@item.Field1 != null)
                        //{
<td>@item.Field1</td>
                        //}
                    }
                    @if (!string.IsNullOrEmpty(proditem.headers.Header2))
                    {
                        //if (@item.Field2 != null)
                        //{
<td>@item.Field2</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header3))
                    {

                        //if (@item.Field3 != null)
                        //{
<td>@item.Field3</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header4))
                    {
                        //if (@item.Field4 != null)
                        //{
<td>@item.Field4</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header5))
                    {
                        //if (@item.Field5 != null)
                        //{
<td>@item.Field5</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header6))
                    {
                        //if (@item.Field6 != null)
                        //{
<td>@item.Field6</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header7))
                    {
                        //if (@item.Field7 != null)
                        //{
<td>@item.Field7</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header8))
                    {
                        //if (@item.Field8 != null)
                        //{
<td>@item.Field8</td>
                        //}
                    }

                    @if (!string.IsNullOrEmpty(proditem.headers.Header9))
                    {
                        <td>@item.Field9</td>
                    }
                    @if (!string.IsNullOrEmpty(proditem.headers.Header10))
                    {
                        <td>@item.Field10</td>
                    }
                    @if (!string.IsNullOrEmpty(proditem.headers.Header11))
                    {
                        <td>@item.Field11</td>
                    }
                    @if (!string.IsNullOrEmpty(proditem.headers.Header12))
                    {
                        <td>@item.Field12</td>
                    }
                   <td style="text-align:center">
                      <a href="@item.TeknikResim" class="fancybox" rel="galleryt@(item.ProductInformationId)"> <img style="text-align:center" src="~/favicon.ico" alt="Teknik Özellikler" /></a>
                   </td>
                </tr>
                }
            }
       
    </table>

        </div>


        <div class="col-md-12">
            <h3><i class="fa fa-arrow-circle-right"></i>@ProductRess.ProductStrings.urunfotograflari</h3>
        </div>      

      <div class="col-md-12 noPadding products">
          @foreach (var item in proditem.photos)
          {
              
               <div class="col-md-3 "><a href="@item.Path" class="fancybox" rel="gallery@(proditem.product.ProductId)"><img src="@item.Thumbnail" style="width:210px;height:125px;"/></a></div>
             
          }
      </div>
        
        <div style="clear:both">
            <br /><br />
        <hr  /><br /><br />
        </div>
         </div>
        </div>
    }
    </div>

        
  </div>

    

    </div>


<script src="~/Content/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $(".fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });

        $('a.fiyatBilgi').click(function (e) {
            e.preventDefault()
            $(this).parent().parent().parent().find('.ptable').css('display', 'block').fadeIn('slow');
            //$('.ptable').css('display', 'block').fadeIn('slow');
        })
    });

</script>