@model dynamic
@{
    ViewBag.Title = ContactRess.ContactStrings.titlle;
    Layout = "~/Views/Shared/frontlayout.cshtml";
    DAL.Entities.Contact contact = ViewData["contact"] as DAL.Entities.Contact;
}
<script src="~/Content/Scripts/jquery.validationEngine-tr.js"></script>
<script src="~/Content/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script src="~/Content/Scripts/jquery.validationEngine.js"></script>
<link href="~/Content/Styles/validationEngine.jquery.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        jQuery("#contactform").validationEngine();
    });
</script>
<style>
    /* -- Notification -- */
    .notification.error {
        background: #fccac3 url('/Content/images/Front/error.png') no-repeat 10px 50%;
        border-color: #ea5338;
    }

    .notification {
        border-width: 1px;
        border-style: solid;
        padding: 17px 17px 17px 55px;
        margin-bottom: 15px;
        -moz-border-radius: 3px;
        -webkit-border: 3px;
        border-radius: 3px;
    }

        .notification.success {
            background: #effeb9 url('/Content/images/Front/success.png') no-repeat 10px 50%;
            border-color: #98c700;
            background-size: 38px;
        }

        .notification.info {
            background: #d4e7f5 url('/Content/images/Front/information.png') no-repeat 10px 14px;
            border-color: #589ad7;
        }

            .notification.info span.strong {
                color: #152433;
            }
</style>

@section breadcrumb{
    <div class="col-md-12 breadcrumb">
        <ul>
            <li><a href="@ContactRess.ContactStrings.breadcrumbmainurl">@ContactRess.ContactStrings.breadcrumbmaintext</a></li>
            <li>@ContactRess.ContactStrings.breadcrumbtext</li>
        </ul>
    </div>
}
<div id="container" class="container">
    <p>@Html.ValidationMessage("_FORM")</p>
    @if (TempData["captchaError"] != null)
    {
        <div class="notification error">@TempData["captchaError"].ToString()</div>
    }
    @if (TempData["required"] != null)
    {
        if (TempData["required"].ToString().Equals("true"))
        {
        <div class="notification error">@ContactRess.ContactStrings.notificationrequired</div>
        }
    }
    @if (TempData["sent"] != null)
    {
        if (TempData["sent"].ToString().Equals("true"))
        {
        <div class="notification success">@ContactRess.ContactStrings.notificationsuccess</div>
        }
        else if (TempData["sent"].ToString().Equals("false"))
        {
        <div class="notification error">@ContactRess.ContactStrings.notificationerror</div>
        }
    }

    <div class="col-md-12 shadow section noPadding noMarginTop">
        <div class="col-md-12 sectionContent page contactPage">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contactform" }))
            {
                
                <h2 class="pageTitle"><i class="fa fa-angle-double-right"></i>@ContactRess.ContactStrings.contact</h2>
                <div class="col-md-6 noPadding">
                    <h3>@ContactRess.ContactStrings.contactform</h3>
                    <div class="col-md-6">
                        <input type="text" placeholder="@ContactRess.ContactStrings.namesurname" id="namesurname" name="namesurname" class="text-input" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="@ContactRess.ContactStrings.phone" id="phone" name="phone" class="text-input" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="@ContactRess.ContactStrings.email" id="email" name="email" class="validate[required,custom[email]] text-input" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="@ContactRess.ContactStrings.city" id="city" name="city" class="text-input" />
                    </div>
                    <div class="col-md-12">
                        @*<input type="text" placeholder="Mesaj Konusu" id="subject" name="subject" class="validate[required] text-input" />*@
                        <select id="department">
                            <option value="-1">@ContactRess.ContactStrings.choosedepartment</option>
                            <option value="1">@ContactRess.ContactStrings.muhasebe</option>
                            <option value="2">@ContactRess.ContactStrings.satis</option>
                            <option value="3">@ContactRess.ContactStrings.pazarlama</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <textarea placeholder="@ContactRess.ContactStrings.messagecontent" id="body" name="body" class="validate[required] text-input"></textarea>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("Index")">
                            <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <input type="text" placeholder="@ContactRess.ContactStrings.securitycode" id="captcha" name="captcha" class="validate[required] text-input" />
                    </div>
                    <div class="col-md-12" style="margin-top: 15px;">
                        <input type="submit" class="btn btn-warning" value="@ContactRess.ContactStrings.btngonder" />
                    </div>
                </div>
            }

            <div class="col-md-5 col-md-offset-1 noPadding">
                <h3>@ContactRess.ContactStrings.contact</h3>
                <div class="col-md-12 noPadding">
                    <h4>@ContactRess.ContactStrings.center</h4>
                    <ul class="noPadding">
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.address
                                <span class="colon">:</span></span><span>@contact.Address</span></li>
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.phone
                                <span class="colon">:</span></span>@contact.Phone

                        </li>
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.fax
                                <span class="colon">:</span></span>@contact.Fax
                        </li>
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.email
                                <span class="colon">:</span></span><a href="mailto:@(contact.Email)">@contact.Email</a></li>
                    </ul>
                    <h4 style="margin-top: 30px;">@ContactRess.ContactStrings.office</h4>
                    <ul class="noPadding">
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.address
                                <span class="colon">:</span></span><span>@contact.Address2</span></li>
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.phone
                                <span class="colon">:</span></span>@contact.Phone2

                        </li>
                        <li>
                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.fax
                                <span class="colon">:</span></span>@contact.Fax2

                        </li>
                        <li>

                            <span class="red col-xs-4 noPadding">@ContactRess.ContactStrings.email
                                <span class="colon">:</span></span><a href="mailto:@(contact.Email)">@contact.Email2</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 noPadding">
                <h3><i class="fa fa-arrow-circle-right"></i>@ContactRess.ContactStrings.mapcoordinates</h3>
                <div class="col-md-12 noPadding">
                    <div class="col-md-6 ">
                        <h4>@ContactRess.ContactStrings.center</h4>
                        <iframe src="https://mapsengine.google.com/map/embed?mid=zDryWg-cDVqg.kVr2axKJHisM" width="100%" height="300" frameborder="0" style="border: 0"></iframe> 
                    </div>
                    <div class="col-md-6 ">
                        <h4>@ContactRess.ContactStrings.office</h4>
                        <iframe src="https://mapsengine.google.com/map/u/1/embed?mid=zDryWg-cDVqg.k-MTL6cOThYk" width="100%" height="300" frameborder="0" style="border: 0"></iframe>
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48146.399379125134!2d29.035010463361186!3d41.0438495766741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVsLCBUw7xya2l5ZQ!5e0!3m2!1str!2s!4v1405109412109" width="100%" height="300" frameborder="0" style="border: 0"></iframe>*@
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
