@model web.Models.HomePageWrapperModel
@{
    ViewBag.Title = @HomeRess.HomeStrings.title;
    Layout = null;
}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Aston</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext">
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.cycle.all.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


        $('.tab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $(".news-slider").after('<div id="nav">')
		.cycle({
		    fx: 'slideY',
		    speed: 300,
		    timeout: 0,
		    pager: '#nav'
		});

        $(".slider").after('<div id="kav">')
		.cycle({
		    fx: 'fade',
		    speed: 300,
		    timeout: 0,
		    pager: '#kav'
		});

        $("#kav a").live('click', function () {

            $(".slide-content").css("z-index", '');

        });

        $(".slide-content").css("z-index", '');
        $(".exchange-slide").cycle({
            fx: 'fade',
            speed: 300,
            timeout: 3000
        });

        $('#btn_subscription').click(function () {
            var mail = $('#txt_subscription').val();
            var mailkontol = validateEmail(mail);
            if (mailkontol == true) {
                $.ajax({
                    type: 'POST',
                    url: 'FHome/Subscription',
                    data: "{mail: '" + mail + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (result) {
                        alert(result);
                        $('#txt_subscription').val('');
                    },
                    error: function () { }
                });
            }
            else alert("Geçersiz Mail.");
        });

        //mail adres kontrolü
        function validateEmail(email) {
            var filter = /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
            if (filter.test(email)) return true; else return false;
        }


    });

    

</script>
</head>

<body>
<div id="header" class="container" >
	<div class="col-md-12 noPadding">
		<div class="col-md-3 noPadding"> <a href="/" class="logo"><img src="~/images/logo.png" border="0" /></a> </div>
		<div class="col-md-9 noPadding">
			<div class="col-md-12 col-md-pull-0 noPadding headerTop">
                @if (Session["userlogin"] != null)
          { 
              <span style="float: right;position: absolute;right: 441px;top: 4px;"><a href="@SharedRess.SharedStrings.logout">@SharedRess.SharedStrings.logouttext</a></span>
          }
				          @{ Html.RenderAction("_search", "FSearch"); }

                 <ul class="nav nav-pills topMenu">
              <li class="first">@Html.ActionLink("TR", "ChangeCulture", "FHome", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
              <li>@Html.ActionLink("EN", "ChangeCulture", "FHome", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
              <li class="last"><a href="/FHome/ChangeCulture?lang=ar">العربية</a></li>
            </ul>

				
			</div>
			

        @{Html.RenderAction("GetTopMenu", "FHome");}

		</div>
	</div>
</div>
<div id="container" class="container" style="overflow: hidden;">
	
	<div class="container-left">
		
        <div class="slider-mask"></div>

		<div class="slider">
			
            @*<div class="slide-content">
				<img src="images/slide1.png" alt="">
				<div class="caption">
					<p>Kaliteyi ve ekonomiyi birleştirmek</p>
				</div> <!-- caption -->
			</div> <!-- slide-content -->*@

            @foreach (var item in Model.photos)
            {   
                 <div class="slide-content">
				
				    <img src="@item.Path" style="width:697px;height:666px;" alt="">

				    <div class="caption">
					
					    <p>@item.Title</p>

				    </div> <!-- caption -->

			    </div> <!-- slide-content -->
            }

			

			
		</div> <!-- slider -->

		<div class="clear"></div>
		<div class="news">
			
			<h2>@HomeRess.HomeStrings.bolum_haberler_baslik</h2>

			<div class="clear"></div>

			<div class="news-slider">
				
				@{ int i = 0; }
                    @foreach (var item in Model.news)
                    {
                        i++;
                        if (i % 2 == 1)
                        {
                            @(new HtmlString("<div class='news-group' style='width: 370px;'>"));
                        }
                        
                        @(new HtmlString("<div class='news-list'><div class='date'><p>" + item.TimeCreated.Value.ToShortDateString().Substring(0, item.TimeCreated.Value.ToShortDateString().Length - 5) + "<br>"));
                        @(new HtmlString(item.TimeCreated.Value.ToShortDateString().Substring(item.TimeCreated.Value.ToShortDateString().Length - 4, 4) + "</p></div>"));
                        @(new HtmlString("<p><a href='" + @SharedRess.SharedStrings.m_haberler_link + "' style='color:#333'><b>" + item.Header + "</b>" + item.Spot));
                        @(new HtmlString("</a></p></div>"));

                        if (i % 2 == 0 || Model.news.Count() == i)
                        {
                            @(new HtmlString("</div>"));
                        }
                    }

				 <!-- news-group -->

				

			</div> <!-- news-slider -->

		</div> <!-- news -->

		<div class="product-info">
			<h2>@HomeRess.HomeStrings.urunler_hakkinda <br/> @HomeRess.HomeStrings.bilgi_ve_siparis</h2>
			<p>@HomeRess.HomeStrings.nolu_hattan_ulasabilirsiniz</p>
		</div> <!-- product-info -->

		<div class="newsletter">
			
			<h2>@HomeRess.HomeStrings.eposta_aboneligi</h2>

			<div style="position:relative;z-index: 99999999;">
				<input type="text" id="txt_subscription" placeholder="@ContactRess.ContactStrings.email" style="z-index:9999">
				<a href="javascript:void(0);" id="btn_subscription" class="submit-btn"></a>
			</div>

		</div> <!-- newsletter -->

	</div> <!-- container-left -->

	<div class="container-right">
	
		<div class="product-menu">
			<h1>@ProductRess.ProductStrings.urunler</h1>

            @{Html.RenderAction("GetProductsMenu", "FHome");}

		</div> <!-- product-menu -->

		<div class="clear"></div>

         @if (Session["userlogin"] != null)
          { 
             <a href="@SharedRess.SharedStrings.pricelist" class="price-list-button flr"><img src="@SharedRess.SharedStrings.fiyat_listesi_btn_img" alt=""></a>
          }
           else
           {
             <a href="@SharedRess.SharedStrings.login" class="price-list-button flr"><img src="@SharedRess.SharedStrings.fiyat_listesi_btn_img" alt=""></a>
            }
        <div class="clear"></div>

		<div class="references-list">
			
			<h2><span class="icon"></span>@SharedRess.SharedStrings.m_referans</h2>

			<div class="clear"></div>

			<ul>
                @foreach (var item in Model.references)
                {
				    <li><a href="@item.Link"><span class="icon"></span>@item.ReferenceName.ToUpper()</a></li>
                }
				@*<li><a href="#"><span class="icon"></span>ALEMDAĞ BELEDİYE BAŞKANLIĞI</a></li>*@
			</ul>

			<a href="@SharedRess.SharedStrings.m_referans_link" class="all-btn"><span class="icon"></span>@SharedRess.SharedStrings.tum_referanslar_icin_tiklayin</a>

		</div> <!-- references-list -->

	</div> <!-- container-right -->
	
	 

</div>


<div id="footer">
	<div class="container">
		 <div class="col-md-9   noPadding noMarginTop"><ul class="nav nav-pills">
      <li><a href="@SharedRess.SharedStrings.m_kurumsal_link">@SharedRess.SharedStrings.m_kurumsal</a></li>
      <li><a href="@SharedRess.SharedStrings.productcat/@Model.prodgroups.FirstOrDefault().ProductGroupId/@Model.prodgroups.FirstOrDefault().PageSlug" >@SharedRess.SharedStrings.m_urunler</a></li>

      <li><a href="@SharedRess.SharedStrings.m_haberler_link">@SharedRess.SharedStrings.m_haberler</a></li>
      @if (Session["userlogin"] != null)
          { 
            <li><a href="@SharedRess.SharedStrings.pricelist">@SharedRess.SharedStrings.m_fiyatlistesi</a></li>
          }
           else
           {
            <li><a href="@SharedRess.SharedStrings.login">@SharedRess.SharedStrings.m_fiyatlistesi</a></li>
            }
      <li><a href="@SharedRess.SharedStrings.m_makine_link">@SharedRess.SharedStrings.m_makine</a></li>
      <li><a href="@SharedRess.SharedStrings.m_galeri_link">@SharedRess.SharedStrings.m_galeri</a></li>
      <li><a href="@SharedRess.SharedStrings.m_referans_link">@SharedRess.SharedStrings.m_referans</a></li>
      <li class="last"><a href="@SharedRess.SharedStrings.m_iletisim_link">@SharedRess.SharedStrings.m_iletisim</a></li>
    </ul>
     </div>
    <div class="col-md-3  wortec">@Html.Raw(SharedRess.SharedStrings.weblink)</div>
    <div class="col-md-12 copyright">@Html.Raw(SharedRess.SharedStrings.copyright)</div>
	</div>
</div>

</body>
</html>

